:root {
  --primary: #37474F;
  --medium: #607D8B;
  --muted: #B0BEC5;
  --accent: #66BB6A;
  --font: 400 16px 'Roboto', Arial, Sans-Serif;
}

body {
  font: var(--font);
  width: 800px;
  margin: 100px auto;
  color: var(--primary);
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

header {
  text-align: center;
  margin-bottom: 30px;

  & img {
    height: 75px;
    margin-bottom: 15px;
    border-radius: 100%;
  }

  & h1 {
    color: var(--accent);
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
  }

  & p {
    color: var(--medium);
    margin: 0;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  & a {
    display: block;
    margin: 0 10px;
    color: white;
    background: var(--muted);
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 500px;
    transition: background 0.25s ease-in-out;

    &:hover, &:active {
      text-decoration: none;
      background: var(--medium);
    }
  }
}

.api-browser {
  border: solid 1px #ccc;
  border-radius: 5px;

  & .navigator {
    display: flex;
    border-bottom: solid 1px #ccc;

    & .method {
      font-weight: 700;
      padding: 1em;
      border-right: solid 1px #ccc;
    }

    & .base {
      padding: 1em 0 0 1em;
      color: var(--muted);
    }

    & .endpoint {
      width: 100%;
      padding-right: 1em;

      & input {
        width: 100%;
        height: 3em;
        border: none;
        font: var(--font);
        outline: none;
      }
    }

    & .send {
      background: none;
      display: block;
      cursor: pointer;
      color: var(--accent);
      border: none;
      border-left: solid 1px #ccc;
      padding: 1em;
      white-space: nowrap;
      outline: none;
      transition: background 0.25s ease-in-out;
      border-top-right-radius: 4px;

      &:hover, &:active {
        background: #f5f5f5;
      }
    }
  }

  & .response {
    padding: 1em;

    & pre, & code {
      margin: 0;
      padding: 0;
      font-family: 'Roboto Mono';
      font-size: 0.9em;
      overflow-x: scroll;
    }
  }
}
